<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>
    <!--定的每天03：30分停止，然后30s后重启-->
    <add key="reStartTime" value="03:30"/>
    <add key="processPath" value="D:\apiSvc\bin\irisCase.exe" />
    <add key="processName" value="TPSApi"/>
  </appSettings>
</configuration>
